<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://comm-calc-fn-ne-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6490d3b5-1b0d-45e7-8194-6116e2e4264c/resourceGroups/my-test-rg/providers/Microsoft.Web/sites/comm-calc-fn-ne-01</ResourceId>
    <PublishUrl>https://comm-calc-fn-ne-01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>